#cic-check-container {
    margin: 0 auto;
    max-width: 40rem;
}

#cic-content-container {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template:
        " title1 title1 title1 title1 "
        " content1 content1 content1 content1 "
        " title2 title2 title2 title2 "
        " content2 content2 content2 content2 "
        " title3 title3 title3 title3 "
        " content3 content3 content3 content3 "
        " button button button button ";
    max-width: 100%;
}

.cic-content-title1 {
    grid-area: title1;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}




@media only screen and (min-width: 768px){
    .cic-content-title1 {
        margin-bottom: 1rem;
    }
}