#loansServices {
    padding: 2rem 0;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 1rem;
    grid-template-areas:
        " loanAmount cicServices"
        " loanAmount cicServices";
    max-width: 70rem;
    max-height: max-content;

    .loanAmount {
        grid-area: loanAmount;
    }
    .cicServices {
        grid-area: cicServices;
    } 
}
.availableL, .availableS {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
}
div.loanAmount > p.cic-heading-3, div.cicServices > p.cic-heading-3 {
    text-align: left;
}
div.availableL > p {
    margin-bottom: 1.25rem;
}
div.availableS > p {
    margin-bottom: 0.6rem;
}
a > strong {
    font-weight: 500;
}
div.availableS > p > strong, div.availableL > p > strong {
    font-family: "Body", sans-serif !important;
    font-weight: 500;
}
.spaceLoans {
    padding-bottom: 1.5rem;
}